<div class="additional_debug">
  <ul>
    <li><b>request.header</b> <%= request.headers %></li>
    <li><b>request.original_url</b><%= request.original_url %></li>
    <li><b>request.query_parameters</b><%= request.query_parameters %></li>
    <li><b>request.remote_ip</b><%= request.remote_ip %></li>
    <li><b>request.ip</b><%= request.ip %></li>
  </ul>
</div>